body {
    overflow: scroll;
  }
  
  @media screen and (min-width: 768px) {
    div.about_div1 {
      font-size: 20px;
    }
  }
  
  @media screen and (max-width: 770px) {
    div.about_div1 {
      font-size: 15px;
    }
  }

.about_parallax1 {
    height: 110vh;
    position: relative;
    background-color: black;
    scroll-behavior: smooth;
}
  
.about_div1 {
  height: 200vh;
  width: 100%;
  margin-top: 50px;
  display:inline;
  position: absolute;
  text-align: center;
  align-items: baseline;
  justify-content: center;
}

.text1 {
  margin: 100px;
  color: black;
  padding: 1rem;
  letter-spacing: 1px;
  justify-content: center;
  background-color: orange;
}

.about_parallax2 {
  height: 100vh;
  position: relative;
  background-color: black;
  scroll-behavior: smooth;
}

.about_div2 {
height: 200vh;
width: 100%;
margin: 0;
display: flex;
flex-direction: column;
position: absolute;
text-align: center;
align-items:baseline;
}

.text2 {
  font-size: 15px;
  margin-top: 0;
  margin-left: 65px;
  margin-right: 65px;
  color: black;
  padding: 1rem;
  letter-spacing: 1px;
  justify-content: center;
  background-color: orange;
}

.about_footer{
  width: 100%;
  position: relative;
  bottom: -370px;
}