.contactUs_body {
    background-color: black;
    background-image: url("../Images/Carousel-Background.jpg");
    background-attachment: fixed;
    background-size: cover;
    color: black;
}

.header {
    padding-top: 2rem;
    text-align: center;
}

.containerContact {
    display: flex;
    justify-content: center;
    position: relative;
    gap: 5rem;
}

@media screen and (max-width: 768px) {
    .containerContact {
        flex-direction: column;
    }
    .contact  {
        display: flex;
        flex-direction: row;
    }
    .apps {
        display: flex;
        flex-direction: column;
    }
}

.contactUs_div1 {
    margin: 1.5rem;
    border-radius: 5px;
    border-style: none;
    display: inline-block;
}

h2{
    margin-bottom: 10px;
}

input {
    width: 100%;
    height: 50px;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    outline: none;
    background: none;
    border-color: white;
    color: black;
}

textarea{
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    outline: none;
    background: none;
    border-color: white;
    color: white;
}

input:hover, textarea:hover{
    outline: white;
    background: none;
    color: black;
    border-color: #f58634;
}

input:active, textarea:active{
    outline: none;
    background: none;
    color: black;
}

#textBox {
    margin-top: 1rem;
}

#sendBtn {
    width: 6rem;
    height: 2.25rem;
    margin-top: 15px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    background: white;
    border-style: none;
    color: black;
}

#sendBtn:hover{
    color: #f58634;
    outline: #f58634;
    background-color: white;
}

.contact{
    display: flex;
    align-items: center;
    margin: 1.5rem;
    gap: 1rem;
    cursor: pointer;
}

.appicon_div {
    border-radius: 5px;
    padding-top: 1.5rem;
    border-style: none;
}

.apps{
    margin-top: 2rem;
    margin-left: 3rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}