.preBuilds_body {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    background-image: url("../Images/Carousel-Background.jpg");
    background-attachment: fixed;
    background-size: cover;
    color: black;
}

.content {
    height: 400px;
    width: 350px;
    margin: 25px;
    padding-top: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    justify-content: center;
    background-color:#dd6000;
}